<div class="flex w-full bg-slate-100 h-full justify-center items-center">
  <div
    class="w-[90%] lg:w-[20%] h-[50%] flex justify-center flex-col text-center gap-8 bg-white p-6 rounded-xl border border-gray-200"
  >
    <form [formGroup]="formResetPassword">
      <div class="flex gap-4 flex-col">
        <div class="flex flex-col gap-2">
          <h2 class="text-2xl">¿Olvidaste tu llave? 🔑</h2>
          <p class="text-sm text-slate-400">
            No te preocupes, crea una nueva y sigue vendiendo 🚀. 
          </p>
        </div>

        <div class="w-full gap-4 flex flex-col">
          <label class="form-control w-full">
            <input
              type="text"
              formControlName="password"
              placeholder="Nueva contraseña:"
              class="input input-bordered w-full input-md"
            />
          </label>

          <label class="form-control w-full">
            <input
              type="text"
              formControlName="confirm_password"
              placeholder="Confirmar nueva contraseña:"
              class="input input-bordered w-full input-md"
            />
          </label>
        </div>

        <div class="flex gap-2 flex-col mt-4">
          <ng-container *ngIf="loadingService; else elseTemplate">
            <button class="btn btn-active btn-primary w-full rounded-3xl">
              <span class="loading loading-spinner"></span>
            </button>
          </ng-container>

          <ng-template #elseTemplate>
            <button [disabled]="!formResetPassword.valid"  class="btn btn-active btn-primary w-full rounded-3xl">
              ¡Restablecer y seguir vendiendo! 💼
            </button>
          </ng-template>
        </div>
      </div>
    </form>
  </div>
</div>
